/*
    Auteurs : Didelot Tim
    Date de dernière modification : 24/07/2025
    Description : Fichier CSS pour le style du site web.
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    /* Couleurs de la palette */
    --oxford-blue: #09082Aff;
    --tekhelet: #561E7Bff;
    --federal-blue: #281B65ff;
    --shocking-pink: #FF0FC5ff;
    --maize: #FFEF59ff;

    /* Font */
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #561E7BFF;
    background: linear-gradient(90deg, rgba(86, 30, 123, 1) 0%, rgba(40, 27, 101, 1) 100%);
}