# Fichiers d'environnement
.env
.env.*
/config/config.json

# Fichier pour prendre des notes sur le travail effectué
COMMIT

# Fichiers de tests des albums
assets/audio
assets/images/albums
assets/images/profile_pictures

# Téléchargements
/downloads/

# Dépendances
/node_modules/
/vendor/

# Fichiers générés par le système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de logs
*.log
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers des IDE et éditeurs
.vscode/
.idea/
.phpstorm.meta.php
.vs/

# Fichiers de build / distribution
/dist/
/build/
/public/js/*.map
/public/css/*.map

# Clés et certificats
*.key
*.pem

# Autres fichiers sensibles
*.key
*.pem