<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/?controller=home&method=afficher"><img src="assets/images/logos/paaxio_logo_nom_droit_noir.svg" alt="Paaxio" width="150"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					{% if session.user_logged_in is defined and session.user_logged_in and session.user_role is defined and session.user_role == 'admin'%}
						<li class="nav-item">
							<a class="nav-link fs-4 {% if page.name is defined and page.name == 'admin' %}active{% endif %}" aria-current="page" href="/?controller=admin&method=afficher">Admin</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link fs-4 {% if page.name is defined and page.name == 'accueil' %}active{% endif %}" aria-current="page" href="/?controller=home&method=afficher">Accueil</a>
						</li>
						{% if session.user_logged_in is defined and session.user_logged_in%}
							<li class="nav-item">
								<a class="nav-link fs-4 {% if page.name is defined and page.name == 'maMusique' %}active{% endif %}" href="/?controller=musique&method=afficher">Ma Musique</a>
							</li>
							{%endif%}
							<li class="nav-item">
								<a class="nav-link fs-4 {% if page.name is defined and page.name == 'decouvrir' %}active{% endif %}" aria-current="page" href="#">Découvrir</a>
							</li>
						{% endif %}
					</ul>
					<div class="dropdown">
						<button class="btn d-flex align-items-center justify-content-center text-secondary" style='padding-left: 5px;' type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 30px; height: 30px;">
							<i class="bi bi-person-circle fs-4"></i>
						</button>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown" style="min-width: 180px;">
							{% if session.user_logged_in is defined and session.user_logged_in %}
								<li>
									<a class="dropdown-item" href="/?controller=home&method=session">
										<i class="bi bi-person-circle me-2"></i>Mon Profil</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item text-danger" href="/?controller=utilisateur&method=logout">
										<i class="bi bi-box-arrow-right me-2"></i>Déconnexion</a>
								</li>
							{% else %}
								<li>
									<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#signinModal">
										<i class="bi bi-box-arrow-in-right me-2"></i>Se connecter</a>
								</li>
								<li>
									<a class="dropdown-item" href="/?controller=home&method=signup">
										<i class="bi bi-person-plus me-2"></i>S'inscrire</a>
								</li>
							{% endif %}
						</ul>
					</div>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
					</form>
				</div>

			</div>
		</nav>
	</header>