<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="assets/css/styles.css">
		<script src="assets/js/bootstrap.bundle.js"></script>
		<script src="tarteaucitron/tarteaucitron.min.js"></script>
		<link rel="icon" type="image/x-icon" href="assets/images/logos/paaxio_logo_noir.ico">
		<script src="tarteaucitron_init.js"></script>
		{% block header %}{% endblock %}
		<title>
			{% if page.title is defined %}
				{{ page.title }}
			{% else %}
				Paaxio
			{% endif %}
		</title>
		{% if page.description is defined %}
			<meta name="description" content="{{ page.description }}">
		{% endif %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="/"><img src="assets/images/logos/paaxio_logo_nom_droit_noir.svg" alt="Paaxio" width="150"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link fs-4 {% if page.name is defined and page.name == 'accueil' %}active{% endif %}" aria-current="page" href="/">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4 {% if page.name is defined and page.name == 'profil' %}active{% endif %}" aria-current="page" href="#">Profil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4 {% if page.name is defined and page.name == 'maMusique' %}active{% endif %}" href="#">Ma Musique</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4 {% if page.name is defined and page.name == 'decouvrir' %}active{% endif %}" aria-current="page" href="#">Découvrir</a>
							</li>
						</ul>
						<form class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
						</form>
					</div>
				</div>
			</nav>
		</header>

		{% block content %}{% endblock %}

		<footer class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item">
					<a href="/newsletter.php" class="nav-link px-2 text-body-secondary">Newsletter</a>
				</li>
				<li class="nav-item">
					<a href="/mentionsLegales.php" class="nav-link px-2 text-body-secondary">Mentions légales</a>
				</li>
			</ul>
			<div class="d-flex justify-content-center">
				<a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Paaxio">
					<img src="assets/images/logos/paaxio_logo_noir.svg" alt="Paaxio" height="60">
				</a>
			</div>
			<p class="text-center text-body-secondary">&copy; 2025 Paaxio</p>
		</footer>
		{% block script %}{% endblock %}
	</body>
</html>
