{% extends 'base_template.html.twig' %}

{% block content %}
	<center>
		<p style="color: red;">This page is for
			<strong>TEST ONLY</strong>, please use another template for production.</p>
	</p>
</center>
<pre>{{ dump(testing) }}</pre>
<center>
	<p style="color: red;">This page is for
		<strong>TEST ONLY</strong>, please use another template for production.</p>
</p></center>{% endblock %}
